.breadcrumb {
    transition: all .2s cubic-bezier(0.19, 1, 0.22, 1);

    li {
        font-family: var(--font-Poppins);
        font-size: var(--font-size-16);
        font-weight: var(--font-weight-regular);
        display: inline;
        font-size: 18px;
        letter-spacing: 1px;
    }

    .home+li:before {
        padding: 8px;
        color: black;
        content: "\276F";
    }


    .home {
        color: black;
        text-decoration: none;
        font-size: 18px;
        transition: all .2s cubic-bezier(0.19, 1, 0.22, 1);

        &:hover {
            transform: translateY(-3px);
        }

        i {
            margin-right: 5px;
        }
    }
    .current-page {
        color: $color-theme;
    }
}
