.sec-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 332px);
    gap: 1rem;
    margin: 4rem 0;
}

.sec-grid-big { grid-area: 1 / 1 / 3 / 3; }
.sec-grid-item-1 { grid-area: 1 / 3 / 2 / 4; }
.sec-grid-item-2 { grid-area: 1 / 4 / 2 / 5; }
.sec-grid-item-3 { grid-area: 2 / 3 / 3 / 4; }
.sec-grid-item-4 { grid-area: 2 / 4 / 3 / 5; }

.sec-grid-item {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    transition: all .2s;
}
.sec-grid-body {
    background-color: var(--color-gray-1);
    height: 210px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    transition: all .2s;
}

    .sec-grid-big {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: var(--color-gray-5);
    }
    
        .sec-grid-big h1{
            color: white;
            font-family: var(--font-Poppins);
            font-size: 45px;
            font-weight: var(--font-weight-bold);
        }


.mirror {
    transform: scaleX(-1);
}

    .mirror-item {
        transform: scaleX(-1);
    }


@media screen and (max-width: 768px){
    .sec-grid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(5, 332px);
    }
    
        .sec-grid-big { grid-area: 1 / 1 / 2 / 2; }
        .sec-grid-item-1 { grid-area: 2 / 1 / 3 / 2; }
        .sec-grid-item-2 { grid-area: 3 / 1 / 4 / 2; }
        .sec-grid-item-3 { grid-area: 4 / 1 / 5 / 2; }
        .sec-grid-item-4 { grid-area: 5 / 1 / 6 / 2; }
}