.container-home{
    background: rgb(230,230,230);
    background: linear-gradient(90deg, rgba(230,230,230,1) 0%, rgba(244,244,244,1) 100%);
    height: 70vh;
    overflow: hidden;
}

.text-container {
    flex-basis: 35%;
}

    .hero-text{
        font-weight: var(--font-weight-extra-b);
        font-size: var(--font-size-65);
        color: #222529;
        text-align: center;
    }

        .text-container span{
            font-size: 20px;
            color: #222529;
            text-align: center;
        }

        .img-container img{
            height: 650px;
            
        }

        .img-container img:first-child{
            margin-left: -100px;
        }

        .img-container img:last-child{
            margin-right: -100px;
        }

    @media screen and (max-width: 1250px){
        .img-container #img-container-2 {
            display: none;
        }
        
    }


    @media screen and (max-width: 768px){    
        .text-container .hero-text {
            font-size: 42px;
        }
    
        .img-container #img-container-1 {
            display: none;
        }
    }